.btn--new-game {
  display: flex;
  padding: 5px 10px;
  margin: auto;
}
.results {
  text-align: center;
  &__headline {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 15px;;
  }
  &__paragraph {
    padding-bottom: 10px;;
  }
}
