/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Helvetica; }
  body::after {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10vh;
    content: '';
    background: linear-gradient(0, white, rgba(255, 255, 255, 0)); }

p {
  font-size: 16px;
  line-height: 20px; }

* {
  box-sizing: border-box; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes appear {
  0% {
    transform: rotateX(-90deg);
    opacity: 0; }
  60% {
    transform: rotateX(40deg); }
  100% {
    transform: rotateX(0);
    opacity: 1; } }

.container {
  box-sizing: border-box;
  padding: 20px;
  width: 100%; }
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
      margin: auto;
      padding-right: 40px;
      padding-left: 40px; } }

.loading-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.spinner {
  display: block;
  margin: 5px;
  display: inline-block;
  width: 10vh;
  height: 10vh;
  animation: spin 1s linear infinite;
  border: 2vh solid #087E8B;
  border-top-color: transparent;
  border-radius: 50%; }

.btn {
  transition: opacity 0.2s ease-out;
  text-align: center;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none; }

.btn--primary {
  background-color: #087E8B;
  color: #FFF; }

.city-input {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .city-input__label {
    margin-bottom: 10px; }
  .city-input__input, .city-input__button {
    padding: 5px 10px;
    border: 1px solid #087E8B;
    outline: none;
    line-height: 20px; }
  .city-input__input {
    max-width: 200px;
    border-right: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
    font-size: 16px;
    -webkit-appearance: none; }
  .city-input__button {
    width: 80px;
    opacity: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .city-input__button--disabled {
    opacity: 0.5; }

.small-spinner {
  display: inline-block;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
  border: 2px solid #FFF;
  border-top-color: transparent;
  border-radius: 50%; }

.error-message {
  height: 25px;
  transition: 0.5s ease;
  transform: rotateX(90deg);
  transform-origin: 0 0;
  opacity: 0;
  color: #FF5A5F;
  font-size: 15px;
  line-height: 25px; }

.error-message--animate {
  transform: rotate(0);
  opacity: 1; }

.btn--end-game {
  margin-bottom: 5px;
  padding: 5px 10px;
  color: #FFF;
  border: none;
  background-color: #FF5A5F; }

.history {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px; }
  .history__side {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
    min-width: 100%;
    text-align: center; }
  .history__headline {
    display: flex;
    margin-bottom: 20px;
    padding: 0 5px;
    font-weight: 600; }

.city-name {
  position: relative;
  display: inline-block;
  margin: 2px;
  padding: 5px 10px;
  text-transform: capitalize;
  border-radius: 3px;
  font-size: 15px;
  line-height: 19px; }

.city-name--user {
  margin-left: 10px;
  transform-origin: 0 0;
  animation: appear 0.8s ease-out;
  border-top-left-radius: 0;
  background-color: #E0FBFC; }
  .city-name--user::before {
    right: 100%;
    border-top-color: #E0FBFC;
    border-right-color: #E0FBFC; }

.city-name--computer {
  align-self: flex-end;
  margin-right: 10px;
  transform-origin: 0 0;
  animation: appear 0.8s ease-out;
  border-top-right-radius: 0;
  background-color: #98C1D9; }
  .city-name--computer::before {
    left: 100%;
    border-top-color: #98C1D9;
    border-left-color: #98C1D9; }

.city-name--user::before,
.city-name--computer::before {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  content: '';
  border: 5px solid transparent; }

.btn--new-game {
  display: flex;
  padding: 5px 10px;
  margin: auto; }

.results {
  text-align: center; }

.modal-overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 20px; }

.modal-content {
  overflow-y: auto;
  background-color: #fff; }
