@import 'reset-css/_reset';
$message_bubble_color: #DEE2FF;
$accent_color: #8E9AAF;
body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Helvetica;
  &::after {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10vh;
    content: '';
    background: linear-gradient(0, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }
}

* {
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes appear {
  0% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  60% {
    transform: rotateX(40deg);
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@mixin spinner($size, $color) {
  display: inline-block;
  width: $size;
  height: $size;
  animation: spin 1s linear infinite;
  border: round($size / 6) solid $color;
  border-top-color: transparent;
  border-radius: 50%;
}

.container {
  box-sizing: border-box;
  padding: 20px;
  @media (min-width: 1024px) {
    max-width: 1024px;
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: block;
  margin: 5px;
  @include spinner(10vh, $accent_color);
}

.history {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  &__side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 50%;
    text-align: center;
  }
  &__side--user {
    align-items: flex-start;
    .history__headline {
      color: #117ed8;
    }
  }
  &__side--computer {
    align-items: flex-end;
    .history__headline {
      color: #11d86a;
    }
  }
  &__headline {
    margin-bottom: 20px;
    font-weight: 600;
  }
}

.city-name {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  text-transform: capitalize;
  border-radius: 3px;
  background-color: $message_bubble_color;
  font-size: 15px;
  line-height: 19px;
}

.city-name--user {
  margin-top: 29px;
  margin-left: 10px;
  border-top-left-radius: 0;
  &:first-of-type {
    transform: rotateX(0deg);
  }
}

.city-name--user,
.city-name--computer {
  &:first-of-type {
    transform-origin: 0 0;
    animation: appear 0.8s ease-out;
  }
}

.city-name--computer {
  margin-right: 10px;
  margin-bottom: 29px;
  border-top-right-radius: 0;
}

.city-name--user::before,
.city-name--computer::before {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  content: '';
  border: 5px solid transparent;
  border-top-color: $message_bubble_color;
}

.city-name--user::before {
  right: 100%;
  border-right-color: $message_bubble_color;
}

.city-name--computer::before {
  left: 100%;
  border-left-color: $message_bubble_color;
}

.city-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  &__label {
    margin-bottom: 10px;
  }
  &__input,
  &__button {
    padding: 5px 10px;
    border: 1px solid $accent_color;
    outline: none;
    font-size: 15px;
  }
  &__input {
    max-width: 200px;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-appearance: none;
  }
  &__button {
    width: 80px;
    transition: opacity 0.2s ease-out;
    text-align: center;
    opacity: 1;
    color: #FFF;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: $accent_color;
  }
  &__button--disabled {
    opacity: 0.5;
  }
}

.small-spinner {
  @include spinner(8px, #FFF)
}

.error-message {
  height: 25px;
  transition: 0.5s ease;
  transform: rotateX(90deg);
  transform-origin: 0 0;
  opacity: 0;
  color: #b10000;
  font-size: 15px;
  line-height: 25px;
}

.error-message--animate {
  transform: rotate(0);
  opacity: 1;
}
