.history {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
  &__side {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
    min-width: 100%;
    text-align: center;
  }
  &__headline {
    display: flex;
    margin-bottom: 20px;
    padding: 0 5px;
    font-weight: 600;
  }
}

.city-name {
  position: relative;
  display: inline-block;
  margin: 2px;
  padding: 5px 10px;
  text-transform: capitalize;
  border-radius: 3px;
  font-size: 15px;
  line-height: 19px;
}

.city-name--user,
.city-name--computer {
  &::before {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
  }
}

.city-name--animate {
  transform-origin: 0 0;
  animation: appear 0.8s ease-out;
}

.city-name--user {
  margin-left: 10px;
  border-top-left-radius: 0;
  background-color: $user_color;
  &::before {
    right: 100%;
    border-top-color: $user_color;
    border-right-color: $user_color;
  }
}

.city-name--computer {
  align-self: flex-end;
  margin-right: 10px;
  border-top-right-radius: 0;
  background-color: $computer_color;
  &::before {
    left: 100%;
    border-top-color: $computer_color;
    border-left-color: $computer_color;
  }
}
